<div class="mb-3">
  <label for="filterColorText" class="form-label">Renk ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterColorText"
    placeholder="Arama ifadesi giriniz..."
  />
</div>
<div *ngIf="filterText" class="alert alert-success">
  {{ filterText }} aradınız.
</div>

<div class="list-group">
  <div
    class="list-group-item list-group-item-action"
    *ngFor="let color of colors | colorFilterPipe: filterText"
    routerLink="/cars/filter/color/{{color.id}}"
  >
    <div class="float-start">
      {{ color.colorName }}
    </div>
    <div *ngIf="authService.isAuthenticated()">
      <div class="float-end">
        <button
          class="btn btn-danger mx-2"
          data-bs-toggle="modal"
          data-bs-target="#colorDeleteModal"
          (click)="setCurrentColor(color)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
            />
          </svg>
        </button>
      </div>
      <div class="float-end">
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#colorModal"
          (click)="setCurrentColor(color)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-repeat"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
            />
            <path
              fill-rule="evenodd"
              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<!--Color Delete Modal-->
<div class="modal" tabindex="-1" id="colorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Renk Detay</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="colorForm" *ngIf="currentColor">
          <div class="mb-3">
            <label for="id">Renk No</label>
            <input
              class="form-control"
              id="id"
              placeholder="{{ currentColor.id }}"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="colorName">Renk Adı</label>
            <input
              type="colorName"
              class="form-control"
              formControlName="colorName"
              placeholder="{{ currentColor.colorName }}"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Geri
        </button>
        <button type="button" class="btn btn-primary" (click)="update()">
          Güncelle
        </button>
      </div>
    </div>
  </div>
</div>

<!--Color Delete Modal-->
<div class="modal" tabindex="-1" id="colorDeleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="currentColor">
        {{ currentColor.colorName }} rengi silmek İstediğinize Eminmisiniz!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hayır
        </button>
        <button type="button" class="btn btn-primary" (click)="delete()">
          Evet
        </button>
      </div>
    </div>
  </div>
</div>
