<div class="mb-3">
  <label for="filterBrandText" class="form-label">Marka ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control mb-3"
    id="filterBrandText"
    placeholder="Arama ifadesi giriniz..."
  />
  <div *ngIf="filterText" class="alert alert-success">
    {{ filterText }} aradınız.
  </div>
</div>

<div class="list-group">
  <div class="list-group-item" *ngIf="authService.isAuthenticated()">
    <form class="form-group"  [formGroup]="addBrandForm">
      <div class="input-group">
        <span class="input-group-text" id="newBrand">Yeni Marka:</span>
        <input
          type="text"
          class="form-control"
          placeholder="Marka"
          formControlName="brandName"
          id="newBrand"
        />
        <button 
        class="btn btn-primary float-end mx-2" 
        style="width: 92px"
        (click)="add()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-file-earmark-plus-fill"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"
            />
          </svg>
          Ekle
        </button>
      </div>
    </form>
  </div>
  <div
    class="list-group-item list-group-item-action"
    *ngFor="let brand of brands | brandFilterPipe: filterText"
  >
    <div class="float-start" routerLink="/cars/filter/brand/{{ brand.id }}">
      {{ brand.brandName }}
    </div>
    <div *ngIf="authService.isAuthenticated()">
      <div class="float-end">
        <button
          class="btn btn-danger mx-2"
          (click)="setCurrentBrand(brand)"
          data-bs-toggle="modal"
          data-bs-target="#brandDeleteModal"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
            />
          </svg>
        </button>
      </div>
      <div class="float-end">
        <button
          type="button"
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#brandModal"
          (click)="setCurrentBrand(brand)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-repeat"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
            />
            <path
              fill-rule="evenodd"
              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<!--Brand Add Modal-->
<div class="modal" tabindex="-1" id="brandModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Marka Detay</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="brandForm" *ngIf="currentBrand">
          <div class="mb-3">
            <label for="id">Marka No</label>
            <input
              class="form-control"
              id="id"
              placeholder="{{ currentBrand.id }}"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="brandName">Marka Adı</label>
            <input
              type="brandName"
              class="form-control"
              formControlName="brandName"
              placeholder="{{ currentBrand.brandName }}"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Geri
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="update()">
          Güncelle
        </button>
      </div>
    </div>
  </div>
</div>

<!--Brand Delete Modal-->
<div class="modal" tabindex="-1" id="brandDeleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="currentBrand">
        {{ currentBrand.brandName }} markayı silmek İstediğinize Eminmisiniz!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hayır
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete()">
          Evet
        </button>
      </div>
    </div>
  </div>
</div>
