<div class="card" style="width: 100%" *ngIf="carDetail">
  <div class="card-body">
    <h5 class="card-title">
      {{ carDetail.brandName }} {{ carDetail.carName }}
    </h5>
    <!-- <img [src]="getImgContent()" class="card-img-top" alt="..."> -->

    <div class="row" *ngIf="currentCar">
      <div class="col-md-2">
        <p class="fw-bold">Renk: {{ carDetail.colorName }}</p>
      </div>
      <div class="col-md-4">
        <p class="card-text">Model Yılı: {{ currentCar.dailyPrice }}</p>
      </div>
      <div class="col-md-4">
        <p class="card-text">Günlük Ücret: {{ currentCar.dailyPrice }} TL</p>
      </div>
    </div>
    <p class="card-text" *ngIf="currentCar">{{ currentCar.carDescription }}</p>
    <a class="btn btn-primary">Kirala</a>
  </div>
</div>
