<div class="container">
  <div class="row row-cols-1">
    <div class="col-10 mx-auto">
      <div class="progress mb-3" style="height: 20px">
        <div
          class="progress-bar bg-success"
          role="progressbar"
          [style]="statusStyle"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          {{ statusBar }}%
        </div>
      </div>
    </div>
    <div class="col-7 mx-auto">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title float-start">Payment Details</h4>
          <div class="form-check float-end">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="rememberCheck"
            />
            <label class="form-check-label" for="rememberCheck" type="checkbox">
              Remember
            </label>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="paymentForm">
            <label for="name">Ad Soyad</label>
            <div>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
                placeholder="Ad Soyad"
              />
            </div>
            <br />
            <label for="cardNumber"> CARD NUMBER</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="cardNumber"
                formControlName="cardNumber"
                placeholder="Valid Card Number"
              />
              <span class="input-group-text"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-lock-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"
                  />
                </svg>
              </span>
            </div>

            <br />
            <div class="row row-cols-2">
              <div class="col-6">
                <div class="row">
                  <label for="expityMonth"> EXPIRY DATE</label>
                  <div class="col-4">
                    <input
                      type="text"
                      class="form-control"
                      id="expityMonth"
                      formControlName="expityMonth"
                      placeholder="MM"
                    />
                  </div>
                  <div class="col-4">
                    <input
                      type="text"
                      class="form-control"
                      id="expityYear"
                      formControlName="expityYear"
                      placeholder="YY"
                    />
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label for="cvCode"> CV CODE</label>
                  <input
                    type="password"
                    class="form-control"
                    id="cvCode"
                    formControlName="cvCode"
                    placeholder="CV"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <button class="btn btn-primary col-12 my-3" disabled>
        <span class="float-start">Final Payment</span>
        <span class="float-end">{{ finalPayment() | currency: "TRY " }}</span>
      </button>
      <button
        *ngIf="receiptModal"
        data-bs-toggle="modal"
        data-bs-target="#receiptModal"
        class="btn btn-info col-12 mb-3"
      >
        Dekont
      </button>

      <button *ngIf="!receiptModal" class="btn btn-success btn-lg col-12" (click)="finish()">
        Pay
      </button>
    </div>
    <div class="col-10 mx-auto my-3">
      <button
        *ngIf="carDetail"
        class="btn btn-primary float-start"
        routerLink="/cars/rental/{{ carDetail.carID }}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
          />
        </svg>
        Geri
      </button>
    </div>
  </div>
</div>

<!---receipt modal-->
<div class="modal" tabindex="-1" [id]="receiptModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Receipt</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="content-radius p-3">
          <div class="row row-cols-2">
            <div class="col-6" *ngIf="user">
              Ad Soyad: {{ user.firstName }} {{ user.lastName }}
            </div>
            <div class="col-6 float-end">date: {{ currentTime }}</div>
          </div>
          <div class="text-center my-4">
            <h3>Receipt</h3>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Car</th>
                  <th>#</th>
                  <th>DailyPrice</th>
                  <th>TotalDay</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Renault Duster</td>
                  <td>11</td>
                  <td>150TL</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td colspan="4" style="text-align: end; font-weight: bold">
                    Renault Duster
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Geri
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal    "
        >
          Gönder
        </button>
      </div>
    </div>
  </div>
</div>
