<div class="list-group">
  <a
    routerLink="/car-component"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    Arabalar
  </a>
  <a
    routerLink="/color-component"
    class="list-group-item list-group-item-action"
    >Renkler</a
  >
  <a
    routerLink="/brand-component"
    class="list-group-item list-group-item-action"
    >Markalar</a
  >
  <a
    routerLink="/rental-component"
    class="list-group-item list-group-item-action"
    >Kiralamalar</a
  >
</div>
