<div *ngIf="dataLoaded == false" class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<table *ngIf="dataLoaded == true" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Marka</th>
      <th>Model</th>
      <th>Model Yılı</th>
      <th>Renk</th>
      <th>Günlük Ücret</th>
      <th>Açıklama</th>
    </tr>
  </thead>
  <tbody>
    <tr routerLink="/cars/detail/{{car.id}}" *ngFor="let car of cars">
    <td>{{ car.id }}</td>
    <td>{{ car.brandId }}</td>
    <td>{{ car.carName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.colorId }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{ car.carDescription }}</td>
  </tr>
  </tbody>
</table>
