<div class="content-radius p-3">
  <div class="row row-cols-2">
    <div class="col-6">Ad Soyad:</div>
    <div class="col-6 float-end">date:</div>
  </div>
  <div class="text-center my-4">
    <h3>Receipt</h3>
  </div>
  <div class="table-responsive ">
    
      <table class="table ">
        <thead>
          <tr>
            <th>Car</th>
            <th>#</th>
            <th>DailyPrice</th>
            <th>TotalDay</th>
          </tr>
        </thead>
        <tbody>
            <tr>
          <td>Renault Duster</td>
          <td>11</td>
          <td>150TL</td>
          <td>10</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: end; font-weight: bold;">Renault Duster</td>
          </tr>
        </tbody>
      </table>
    
  </div>
</div>
