<div class="content">
<div class="row">
  <div class="col-8">
    <div
    *ngIf="carImages"
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="getImgContent()" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img [src]="getImgContent()" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img [src]="getImgContent()" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-4">
    <div class="card" *ngIf="carDetail">
      <div class="card-body">
        <h5 class="card-title">
          {{ carDetail.brandName }} {{ carDetail.carName }}
        </h5>
        <table class="table table-striped mt-3">
          <tbody>
            <tr>
              <td>Renk:</td>
              <td>{{ carDetail.colorName }}</td>
            </tr>
            <tr>
              <td>Model Yılı:</td>
              <td>{{ carDetail.modelYear }}</td>
            </tr>
            <tr>
              <td>Günlük Ücret:</td>
              <td>{{ carDetail.dailyPrice | currency: "TRY ":"₺ " }}</td>
            </tr>
            <tr>
              <td>Açıklama:</td>
              <td>{{ carDetail.carDescription }}</td>
            </tr>
          </tbody>
        </table>
        <button
          class="btn btn-success"
          routerLink="/cars/rental/{{ carDetail.carID }}"
        >
          Aracı Kirala
        </button>
      </div>
    </div>
  </div>
</div>
</div>
